<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BoxOffice Template</title>
    <!--Vue.js CDN-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <!--Vue router CDN-->
    <script src="https://unpkg.com/vue-router@3.5.3/dist/vue-router.js"></script>
    <!--Axios CDN-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    
</head>
<body>
    <div id="app">
        <h1>BoxOffice</h1>
        <br><br>
        <input type="text" v-model="targetDate">
        <button v-on:click="searchBtn">search</button>
        <br><br>
        <button v-on:click="deleteSelectedBtn">선택삭제</button>
        <br><br>
        <th scope="col">CHECK</th>
        <th scope="col">순위</th>
        <th scope="col">포스터</th>
        <th scope="col">영화제목</th>
        <th scope="col">관람객수</th>
        <th scope="col">개봉일</th>
        <th scope="col">삭제</th>   

        <movie-list v-bind:my-data="myData" v-bind:movie-img="movieImg"></movie-list>
         <input  type="checkbox" id="selected" v-model="selectedMovies[info.rnum-1]">
        
        
    </div>

    <script>
       Vue.component('movie-list',{
             props : {
                myData : Array,
                movieImg : Array
            },
            template : `
            <div v-for="info in myData">
                {{ info.rank }}
                <img v-bind:src="movieImg[info.rnum]">
                {{ info.movieNm }} {{ info.audiCnt }} {{ info.openDt }}
                <button v-on:click="deleteBtn">삭제</button>
            </div>`,
            data : function (){
                return {
                    movieInfo : [], movieImg : []
                }
            },
            methods : {
                
                deleteBtn : function(index){
                    this.myData.splice(index,1);

                },
                
                
            }
       })

    
       new Vue({
        el : '#app',
        data : {
             targetDate : '',
             myData : [],
             movieImg : [] , 
             selectedMovies : []
        },
        methods : {
            searchBtn : function(){
                  axios({
                     url : 'http://www.kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.json',
                     method : 'GET',
                     params : {
                         key : '055bf3cf9c2367e1b7a396e3ec91ab3d',
                         targetDt : this.targetDate 
                     },
                     responseType : 'json' 

                  }).then(response => {
                        this.myData = response.data.boxOfficeResult.dailyBoxOfficeList;
                        this.myData.forEach(element => {
                            this.getImg(element.movieNm, element.rnum);
                        });
                      

                  }).catch(function(error){
                     console.log(error);});
                     
                    },

                getImg: function(query, idx) {
                    axios({
                            url : "https://dapi.kakao.com/v2/search/image",
                            method : "GET",
                            headers : {
                                Authorization : "KakaoAK de12c1c5d92728df6cac1ae4d37f40e9"
                                },
                            params : {
                                query 
                            } ,
                            responseType : 'json'
                            }).then(response => {
                                Vue.set(this.movieImg, idx, response.data.documents[0].thumbnail_url)
                            }).catch(function(error){
                                console.log(error);
                                console.log(this.myData.movieNm);
                        })
                },
                
                deleteSelectedBtn : function(){ 
                    console.log(this.selectedMovies);
                   
                    this.selectedMovies.forEach((el, idx) => {
                        if (el) { 
                            this.myData = this.myData.filter((item) => parseInt(item.rnum) - 1 !== idx);
                        }
                    })
                }

        }
       }).$mount('#app');
    </script>
</body>
</html>
